doctype html
html(lang='en')
  head
    title AutenticateUsers
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      // Static navbar
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
        a.navbar-brand(href='/') Portal
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li(class=(title == 'Members' ? 'active' : "")).nav-item
              a.nav-link(href='/')
                | Home 
            li(class=(title == 'Register' ? 'active' : "")).nav-item
              a.nav-link(href='/users/register') Register
            li(class=(title == 'Login' ? 'active' : "")).nav-item
              a.nav-link(href='/users/login') Login
            li.nav-item
              a.nav-link.disabled(href='#') Disabled
          ul.navbar-nav.navbar-right
            li.nav-item
              a.nav-link(href='/users/logout') Logout
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')     
    br
    br
    br
    .container-fluid
      if (messages)
        != messages()
    block content
 
